In [5]:
import duckdb
import pandas as pd

In [ ]:
sql_query = '''
SELECT * FROM gold_ticket_metrics LIMIT 3
'''
#SELECT * FROM ref_model
#show tables


with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   violation_code  ticket_count  total_revenue_usd
0              36         37064          1853200.0
1               5          3477           869250.0
2              21         12149           789685.0